
/*components import*/

@import url("components/topnav.css");
@import url("components/header.css");
@import url("components/slides.css");
@import url("components/footer.css");
@import url("components/about.css");

body{
  background-color: #f1f3f8;
}



h1{
 font-family:'Grandstander', cursive;
 text-align: center;
 font-size: 113px;
}

h2{
  font-family:'Grandstander', cursive;
  text-align: center;
}

p{
font-family:'Poppins', sans-serif;
}

.menu{
  font-family:'Poppins', sans-serif;
  font-size: 14px;
}











